@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply antialiased bg-slate-50 text-slate-800 selection:bg-blue-100;
    }
}

.glass-card {
    @apply bg-white/70 backdrop-blur-xl border border-white shadow-2xl;
}

.upload-zone {
    @apply border-2 border-dashed border-slate-200 rounded-[2.5rem] bg-slate-50/50 hover:bg-white hover:border-blue-500 transition-all cursor-pointer flex flex-col items-center justify-center p-12;
}